.wrapper {
    width: 100%;
    height: 100px;
    margin: auto 0;
    display: flex;
}

.green, .yellow, .purple{
    width: 100px;
    height: 100px;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background:  purple;
}