.container {
    height: 500px;
    width: 100%;
    background: yellow;
    display: flex;
    align-items: flex-end;
    padding-left: 0;
    justify-content: flex-end;
}    

.item {
    height: 100px;
    width: 100px;
    background: purple;
    list-style-type: none;
    margin-left: 10px;
}

