* {
    font-size: 0;
}

div {
    margin: auto;
    height: 600px;
    width: 800px;
    margin: auto;
}

header {
    margin: auto;
    background-color: purple;
    height: 10%;
    width: 100%;
    
}

nav {
    height: 100%;
    width: 100%;      

}

nav a {
    display: inline-block;
    height: 60%;
    width: 15%;
    background-color: cyan; 
    color: black;
    font-size: 14px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

main {
    height: 90%;
    width: 70%;
    background-color: yellow;
    display: inline-block;
}

aside {
    height: 90%;
    width: 30%;
    background-color: green;
    display: inline-block;  
}

